a.out
build/
cnn-cifar10*
cifar
nv_cifar
nv_cnn
nvc-compiler.md
conv
conv.c
Notes/.~*
*.o
Notes/02.arrays/Chapter4-master/
Notes/02.arrays/Chapter4-master.zip
Notes/03.simple-cnn/*.o
Notes/03.simple-cnn/cnn*
Notes/03.simple-cnn/out_*
Notes/03.simple-cnn/simple-cnn-2/out*
out*
*.txt
outputs/
serial_code/gmon.out
gmon.out
serial_code/cnn-cifar10*
acc_code-2/
acc_code/cnn-cifar10*
serial_code/layers_serial-*.c
serial_code/layers_serial-*.h
serial_code-p/
acc_code/*.nsys-rep
acc_code/cnn-cifar10-acc
serial2parallel/
